@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #3b82f6;
  --secondary-color: #1f2937;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  color: #1f2937;
}
